/* set CSS variables to make code easier to change & maintain */
:root {
  /* fonts variables */
  --fonts-headline: "Londrina Solid", cursive;
  --fonts-body: "Gemunu Libre", arial, serif;

  /* project main color variables */
  --background-color: #030746;
  --primary: #b79ed1;
  --accent1: #e43388;
  --accent2: #48a9a6;
  --grey-sidebar: rgb(51 55 69 / 90%);
  --text-dark: #333;
  --text-darkest: #000;
  --text-light: #fff;
  --p-link: #ff0;

  /* text shadows & box shadow colors derived from moon svg colors */
  --enlightenment-light: #fff2be;
  --about-light: #f3f4de;
  --participation-light: #fcfcfc;
  --benefits-light: #e8e7e6;
  --requirements-light: #fefca6;
}
