/* ----------------------------------------------*\
  #MOON LARGE-VIEW BENEFITS MOON MOLECULES
\*---------------------------------------------- */

/** 
 * This section inserts the moon image around the planet on the right side and 
 * creates the large central moon image with the Benefits section's text 
 * inside it when the smaller moon is hovered over.
 */
@use "../../../../base-units/variables" as *;
@use "../../../../base-units/mixins";

/* inserts the Benefits moon on the right side of the planet */
.benefits {
  @include mixins.breakpoint(large) {
    /* keep this in large-view */
    @include mixins.insert-image("images/white-moon.svg", $width: 150px);
    @include mixins.absolute($left: 50%, $top: -2rem);

    margin-left: 340px;
    border-radius: 50%;
    box-shadow: 0 0 10px 10px $benefits-light;

    &:hover::before {
      @include mixins.absolute($left: 50%, $top: 8%);
      @include mixins.insert-image("images/white-moon.svg", $width: 630px);

      margin-left: -730px;
      border-radius: 50%;
      box-shadow: 0 0 90px 50px $benefits-light;
      z-index: 2;
    }

    /* absolute position for all & placement for first paragraph */
    &:hover p {
      @include mixins.absolute($left: 50%, $top: 130%);

      margin-left: -630px;
      width: 440px;
      display: block;
      text-align: center;
      text-shadow:
        1px 1px 15px $background-color,
        -1px -1px 15px $background-color;
      z-index: 3;
    }
  }
}
