/* ----------------------------------------------*\
  #MOON LARGE-VIEW PARTICIPATION MOON MOLECULES
\*---------------------------------------------- */

/** 
 * This section inserts the moon image around the planet on the top side and 
 * creates the large central moon image with the Participation section's text 
 * inside it when the smaller moon is hovered over.
 */
@use "../../../../base-units/variables" as *;
@use "../../../../base-units/mixins";

/* inserts the Participation moon on the top side of the planet */
.participation {
  @include mixins.breakpoint(large) {
    /* keep this in large-view */
    @include mixins.insert-image("images/blue-moon.svg", $width: 150px,
    $height: 147px);
    @include mixins.absolute($left: 50%, $top: -11.5rem);

    /* positions moon in fixed position from planet's center to create a *
     * stable hover image positon */
    margin-left: -75px;

    /* adds glow to headline planet */
    border-radius: 50%;
    box-shadow: 0 0 10px 10px $participation-light;

    /* insertion & placement of large version of image to hold paragraphs */
    &:hover::before {
      @include mixins.absolute($right: 50%, $top: 50%);
      @include mixins.insert-image("images/blue-moon.svg", $width: 700px,
      $height: 688px);

      margin-right: -350px;
      margin-top: 100px;
      background-repeat: no-repeat;
      border-radius: 50%;
      box-shadow: 0 0 90px 50px $participation-light;
      z-index: 2;
    }

    &:hover a {
      text-decoration-color: $p-link;
    }

    /* absolute position for all & placement for first paragraph */
    &:hover p {
      @include mixins.absolute($right: -190%, $top: -50%);

      margin-top: 350px;
      margin-right: 95px;
      width: 520px;

      /* shared characteristics of all Participation paragraphs */
      display: block;
      text-align: center;
      text-shadow:
        1px 1px 20px $background-color,
        -1px -1px 20px $background-color;
      z-index: 3;
    }

    & p:nth-child(3) {
      top: 120px;
      margin-right: 35px;
      width: 650px;
    }

    & p:nth-child(4) {
      top: 240px;
      width: 500px;
      margin-right: 109px;
    }
  }
}
